$em: 16px;
$lh: 1.5;
$pad: 16px;

$red: #f00;
$green: #0f0;
$blue: #00f;
$black: #000;
$white: #fff;
$gray_lt: #ccc;
$gray_mid: #9b9b9b;
$gray_dark: #707070;

$sans-serif: Helvetica, Arial, sans-serif;
$monospace: Monaco, 'Courier New', Courier, monospace;
